<mat-progress-bar mode="indeterminate" *ngIf="isSubmitted == true"></mat-progress-bar>
<div class="container mt-5">    

    <div class="row" *ngIf="auth.isAuthenticated && auth.isAdmin">
      <div class="row col-8">            
        <div *ngIf="products.length == 0 && isLoaded == false" class="text-info mt-4 col-12">
          <h3 style="text-align: center;">No Products Yet</h3>
        </div>
        <div class="mt-3" style="text-align: center;width: 100%" *ngIf="isLoaded">
          <mat-spinner style="margin: auto;"></mat-spinner>
        </div>    
        <div class="col-5 mt-4" *ngFor="let product of products">          
            <div class="card" style="width: 18rem;">
                <img [src]="product.ImgUrl" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.Name}}</h5>
                  <p class="card-text">Price {{ product.Price }}.00 EGP</p>

                  <div *ngIf="auth.isAdmin">
                    <span *ngIf="product.IsAvailable == true">
                        <button class="mr-2" mat-raised-button (click)="addToCart({product: product, quantity: 1})" color="primary">+</button>
                      <button class="mr-2" mat-raised-button (click)="removeFromCart({product: product, quantity: 1})" color="warn">-</button>
                    </span>
                    <span *ngIf="!product.IsAvailable">
                      item is not currently available
                    </span>
                  </div>

                </div>
              </div>
          </div>
      </div>
      <div class="col-4 card" style="padding: 10px;overflow: auto;position: sticky;left: 800px;top: 220px;height: 500px;" >
        <span class="m-3" #total id="total">Total: {{totalAmount}} EGP</span>
        <span class="m-3">          
          <button (click)="clear()" class="ml-2 btn btn-danger" [disabled]="cart.length == 0">Clear</button>
        </span>
        <div>                    
          <form [formGroup]="cartForm" (ngSubmit)="go()">            
            <mat-form-field style="margin: 10px;width: 90%;">
                <mat-select formControlName="User" placeholder="Select User...">
                    <mat-option [value]="user.Id" *ngFor="let user of users">{{user.Name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="margin: 10px;width: 90%;">
              <textarea matInput appearance="fill" formControlName="Notes" placeholder="Notes...">
              </textarea>
            </mat-form-field>
            <button #btnConfirm class="btn btn-info m-4" [disabled]="cart.length == 0">Confirm</button>
              <div class="card" id="items" *ngFor="let item of cart">
                <mat-card style="display: flex;justify-content: space-evenly;align-items: center;">
                  <img [src]="item.product.ImgUrl" style="width: 70px;height:70px;border-radius:50%;">
                  <span>
                    <p>{{item.product.Name}}</p>
                    <p>Quantity: {{item.quantity}}</p>
                    <button mat-raised-button color="primary">+</button>
                    <button mat-raised-button color="warn">-</button>
                  </span>
                </mat-card>              
              </div>                       
            </form>
        </div>              
    </div>              

</div>

